  <nav class="nav nav-pills nav-fill flex-column">
    <a class="nav-link" routerLink="/dashboard" routerLinkActive="nav-link active" id="v-pills-dashboard-tab">Dashboard</a>
    <a class="nav-link" routerLink="/upload-data" routerLinkActive="nav-link active" id="v-pills-uploaddata-tab" href="#v-pills-uploaddata">Upload data</a>
    <a class="nav-link" routerLink="/events" routerLinkActive="nav-link active" id="v-pills-events-tab" href="#v-pills-events" role="tab">Events</a>
    <a class="nav-link" routerLink="/employee-events" routerLinkActive="nav-link active" id="v-pills-eevents-tab" href="#v-pills-eevents" role="tab">Employee events</a>
    <a class="nav-link" routerLink="/update-feedback" routerLinkActive="nav-link active" id="v-pills-updatefeedback-tab" href="#v-pills-updatefeedback">Update feedback</a>
    <a class="nav-link" routerLink="/configure-roles" routerLinkActive="nav-link active" id="v-pills-croles-tab" href="#v-pills-croles" role="tab">Configure roles</a>
  </nav>				
